<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6yPDD-d3Q94PMIf1f_75k-mvsTy51Qco</string>
	<key>GCM_SENDER_ID</key>
	<string>624322636538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutteradvace</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-distribution-abacc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-distribution-abacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624322636538:ios:f31979c78097b9c60cb743</string>
</dict>
</plist>